/* Hidden class for editing 
   Compositition title form
*/

.hidden {
    display: none;
}

/* Image for Music Scales */

.scale-img {
    width: 40%;
    height: auto;
}

.choose-scale-img {
    width: 10%;
    height: 10%;
}

/*Instrument Card*/

.instrument-btn-position {
    float: right;
}