/* Hidden class for editing 
   Compositition title form
*/

.hidden {
    display: none;
}

/* Image for Music Scales */

.scale-img {
    width: 40%;
    height: auto;
}

.choose-scale-img {
    width: 10%;
    height: 10%;
}

/* For All Cards */
.delete-btn-position {
    float: right;
    position: relative;
}

.submit-btn {
    background-color: blue;
    width: 200px;
}
/*---------------*/

/*Composition Card*/
.comp-container {
    width: 1600px;
    height: 1800px;
}

.title {
    color: #4F5D75;
}

.each-container {
    width: 350px;
    height: 200px;
    position: relative;
}
/*----------------*/

/*Instrument Card*/

.container-bg {
    background-color: #A6B7BB;

}
/*----------------*/

/* Song Reference Card */
.song-ref-card {
    width: 500px;
    height: 250px;
}

/*---------------------*/

/*----Forms----*/
.new-comp-form {
    width: 250px;
    height: auto;
}

.comp-form-container {
    padding: 25px;
}

.new-jot-form {
    width: 100px;
    height: 50px;
}

.new-song-ref-form {
    width: 250px;
    height: auto;
}

.new-scale-menu {
    width: 250px;
    height: auto;
}

/*---------------------*/
